<form action="/items" method="post">
  <label for="sidex">Side 1 </label>
  <input id="sidex" name="sidex" type="text">
    <label for="sidey">Side 2</label>
  <input id="sidey" name="sidey" type="text">
    <label for="sidez">Side 3</label>
  <input id="sidez" name="sidez" type="text">
    <label for="weight">Weight</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form>